input[type=search] {
    margin: 0 auto;
    width: 50%;
    display: block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 5em;
    text-align: center;
    background-color: white;
    /*background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;*/
    padding: 12px 20px 12px 20px;
    margin-top: 50%;
    transition: width 0.4s ease-in-out, margin-top 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out, margin-top 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out, margin-top 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out, margin-top 0.4s ease-in-out;
}


input[type=search]:focus {
    width: 75%;
    margin-top: 10%;
}

input[type=search]:valid {
    width: 75%;
    margin-top: 10%;
}


div {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}


ul {
    padding: 0;
    list-style-type: none;
}

li {
    width: 30vw;
    height: 30vw;
    margin: 5vw;
    display: inline-block;
    list-style-position:inside;
    border: 2px solid #ccc;
    flex-wrap: wrap;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}

li:hover {
    border-color: #e1c897;
    background-color: #eee
}

img {
    animation: fadein 0.4s;
    -moz-animation: fadein 0.4s;
    -webkit-animation: fadein 0.4s;
    -o-animation: fadein 0.4s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}